<!doctype html>
<html lang="en">
  <head>
      <title>Bugs - Resolute QA</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% load static %}

      <link rel="stylesheet" href="{% static 'resoluteqa/css/bootstrap.min.css' %}" />
      <link rel="stylesheet" href="{% static 'resoluteqa/css/bootstrap-grid.min.css' %}">
      <link rel="stylesheet" href="{% static 'resoluteqa/css/datatables.min.css' %}">
      <link rel="stylesheet" href="{% static 'resoluteqa/css/styles.css' %}">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'resoluteqa:index' %}">Resolute QA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'resoluteqa:index' %}">Projects</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'resoluteqa:summary' projectenvironment.id %}">Summary</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Daily Results
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dailyResultsDropdown">
                          {% for suite in suite_runs %}
                              <a class="dropdown-item" href="{% url 'resoluteqa:dailyresults' suite.id %}">{{ suite.suite.suite_name }}</a>
                          {% endfor %}
                      </div>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'resoluteqa:bugs' projectenvironment.id %}">Bugs<span class="sr-only">(current)</span></a>
                  </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'resoluteqa:uploadresults' projectenvironment.id %}">Upload</a>
                  </li>
              </ul>
          </div>
      </nav>
      <div class="container-fluid mt-5">
          <div class="row justify-content-center">
              <h1 class="text-center">Bugs for {{ projectenvironment.project }}</h1>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-10">
                  <!--<button type="button" class="btn btn-dark ml-3" data-toggle="modal" data-target="#createBugModal">+ Bug</button>-->
                  <table id="bugsTable" class="table no-border grayBorder text-center">
                      <thead>
                          <tr>
                              <th>Source Control ID</th>
                              <th>Bug Title</th>
                              <th>Source Control</th>
                              <th>URL</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for bug in bug_list %}
                              <tr>
                                  <td>{{ bug.source_control_id }}</td>
                                  <td>{{ bug.title }}</td>
                                  <td>{{ bug.source_control }}</td>
                                  <td><a href="{{ bug.url }}" target="_blank">{{ bug.url }}</a></td>
                                  <td style="width:110px;">
                                      <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editBugModal" data-bug="{{ bug.source_control_id }}" data-title="{{ bug.title }}" data-source="{{ bug.source_control }}" data-url="{{ bug.url }}" data-id="{{ bug.id }}">Edit</button>
                                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDeleteModal" data-bug="{{ bug.source_control_id }}" data-id="{{ bug.id }}">Delete</button>
                                  </td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <!-- Create Bug Modal -->
      <div class="modal fade" id="createBugModal" tabindex="-1" role="dialog" aria-labelledby="createBugModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header justify-content-center">
                      <h5 class="modal-title" id="createBugModalLabel">Create Bug</h5>
                  </div>
                  <div class="modal-body">
                      <label for="createBugSourceControlIdInput"><b>Source Control ID:</b></label>
                      <input class="form-control" type="text" id="createBugSourceControlIdInput" value=""><br>
                      <label for="createBugTitleInput"><b>Title:</b></label>
                      <input class="form-control" type="text" id="createBugTitleInput" value=""><br>
                      <label for="createBugSourceControlInput"><b>Source Control:</b></label>
                      <input class="form-control" type="text" id="createBugSourceControlInput" value=""><br>
                      <label for="createBugUrlInput"><b>URL:</b></label>
                      <input class="form-control" type="text" id="createBugUrlInput" value="">
                  </div>
                  <div class="modal-footer justify-content-center">
                      <button id="submitCreateBtn" type="button" class="btn btn-dark" data-dismiss="modal">Submit</button>
                      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- Edit Bug Modal -->
      <div class="modal fade" id="editBugModal" tabindex="-1" role="dialog" aria-labelledby="editBugModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header justify-content-center">
                      <h5 class="modal-title" id="editBugModalLabel">Edit Bug <span id="modalEditBugId"></span></h5>
                  </div>
                  <div class="modal-body">
                      <label for="editBugSourceControlIdInput"><b>Source Control ID:</b></label>
                      <input class="form-control" type="text" id="editBugSourceControlIdInput" value=""><br>
                      <label for="editBugTitleInput"><b>Title:</b></label>
                      <input class="form-control" type="text" id="editBugTitleInput" value=""><br>
                      <label for="editBugSourceControlInput"><b>Source Control:</b></label>
                      <input class="form-control" type="text" id="editBugSourceControlInput" value=""><br>
                      <label for="editBugUrlInput"><b>URL:</b></label>
                      <input class="form-control" type="text" id="editBugUrlInput" value="">
                  </div>
                  <div class="modal-footer justify-content-center">
                      <button id="submitEditBtn" type="button" class="btn btn-dark" data-dismiss="modal">Submit</button>
                      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- Confirm Delete Modal -->
      <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header justify-content-center">
                      <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm</h5>
                  </div>
                  <div class="modal-body">
                      <p class="text-center">Are you sure you want to delete bug <span id="modalConfirmNumber"></span>?</p>
                  </div>
                  <div class="modal-footer justify-content-center">
                      <button id="confirmDeleteBtn" type="button" class="btn btn-danger" data-dismiss="modal">Confirm</button>
                      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                  </div>
              </div>
          </div>
      </div>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script defer src="{% static 'resoluteqa/js/libraries/jquery-3.2.1.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/libraries/popper.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/libraries/bootstrap.min.js' %}"></script><!--4.0.0-beta.3-->
      <script defer src="{% static 'resoluteqa/js/libraries/datatables.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/libraries/Chart.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/bugs.js' %}"></script>
  </body>
</html>
