<!doctype html>
<html lang="en">
  <head>
      <title>Daily Results - Resolute QA</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% load static %}

      <link rel="stylesheet" href="{% static 'resoluteqa/css/bootstrap.min.css' %}" />
      <link rel="stylesheet" href="{% static 'resoluteqa/css/bootstrap-grid.min.css' %}">
      <link rel="stylesheet" href="{% static 'resoluteqa/css/datatables.min.css' %}">
      <link rel="stylesheet" href="{% static 'resoluteqa/css/styles.css' %}">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'resoluteqa:index' %}">Resolute QA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'resoluteqa:index' %}">Projects</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'resoluteqa:summary' suite.project_environment.id %}">Summary</a>
                  </li>
                  <li class="nav-item dropdown active">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Daily Results <span class="sr-only">(current)</span>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dailyResultsDropdown">
                          {% for suite in suite_runs %}
                              <a class="dropdown-item" href="{% url 'resoluteqa:dailyresults' suite.id %}">{{ suite.suite.suite_name }}</a>
                          {% endfor %}
                      </div>
                  </li>
                  <li class="nav-item">
                      <a id="bugsNavLink" class="nav-link" href="{% url 'resoluteqa:bugs' suite.project_environment.id %}" data-projenvid="{{ suite.project_environment.id }}">Bugs</a>
                  </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'resoluteqa:uploadresults' suite.project_environment.id %}">Upload</a>
                  </li>
              </ul>
          </div>
      </nav>
      <div class="container-fluid mt-5">
          <div class="row justify-content-center">
              <h1 class="text-center">Daily Results for {{ suite.suite_name }}</h1>
          </div>
          <div class="row justify-content-center mt-3 mb-1">
              <div class="col-md-10">
                  <div class="row">
                      <div class="col-md-4" id="selectTestsBtnContainer">
                          <button type="button" class="btn btn-dark ml-3" id="selectTestsBtn">Select Tests</button>
                      </div>
                      <div class="col-md-4 hidden" id="addBugsBtnContainer">
                          <button id="plusBugBtn" type="button" class="btn btn-dark ml-3" data-toggle="modal" data-target="#addBugToTestsModal">+ New Bug</button>
                          <button id="plusExistingBugBtn" type="button" class="btn btn-dark" data-toggle="modal" data-target="#addExistingBugToTestsModal">+ Existing Bug</button>
                          <button type="button" class="btn btn-outline-secondary" id="addBugsCancelBtn">Cancel</button>
                      </div>
                      <div class="col-md-4" align="center">
                          <select class="form-control" style="width:auto;" id="suiteRunsSelect">
                              {% for run in historical_suite_runs %}
                                  <option {% if run.id == request_suite_run.id %}selected{% endif %} value="{{ run.id }}">{{ run.start_time|date:"m-d-Y h:i A" }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-10">
                  <table id="resultsTable" class="table no-border grayBorder text-center">
                      <thead>
                          <tr>
                              <th>Bug</th>
                              <th>Test Name</th>
                              <th>Class</th>
                              <th>Time (seconds)</th>
                              <th>Result</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for result in test_results %}
                              <tr>
                                  <td class="text-center">
                                      <img id="bugIconTest{{ result.test.id }}" class="{% if not result.test.bugs.all %}hidden{% endif %}" src="{% static 'resoluteqa/image/icons/bug.png' %}" />
                                  </td>
                                  <td>
                                      <input type="checkbox" class="testCheckbox hidden" data-testid="{{ result.test.id }}">
                                      <span class="link" data-toggle="modal" data-target="#testModal" data-testid="{{ result.test.id }}" data-testname="{{ result.test.test_name }}" data-testclass="{{ result.test.class_name }}" data-namespace="{{ result.test.namespace }}">{{ result.test.test_name }}</span>
                                  </td>
                                  <td>{{ result.test.class_name }}</td>
                                  <td>{{ result.total_execution_time }}  </td>
                                  <td class="{% if result.result == 'Passed' %}green{% elif result.result == 'Failed' %}red{% endif %} link" data-toggle="modal" data-target="#resultModal" data-id="{{ result.id }}" data-testname="{{ result.test.test_name }}" data-result="{{ result.result }}" data-machine="{{ result.host }}" data-execution="{{ result.total_execution_time }}">{{ result.result }}</td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <!-- Test Modal -->
      <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="testModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-header justify-content-center">
                      <h5 class="modal-title" id="testModalLabel"></h5>
                  </div>
                  <div class="modal-body">
                      <div>
                          <b>Class: </b>
                          <span id="modalTestClass"></span>
                      </div>
                      <div>
                          <b>Namespace: </b>
                          <span id="modalTestNamespace"></span>
                      </div>
                      <div class="mt-4">
                          <h3 class="inline">Bugs</h3>
                          <div class="inline" id="testAddBugBtnContainer">
                              <button type="button" id="testPlusNewBugBtn" class="btn btn-dark btn-sm" style="margin:0px 0px 10px 10px;">+ New Bug</button>
                              <button type="button" id="testPlusExistingBugBtn" class="btn btn-dark btn-sm" style="margin:0px 0px 10px 10px;">+ Existing Bug</button>
                          </div>
                          <div id="testBugsTableContainer">
                              <table id="modalBugTable" class="table text-center">
                                  <thead>
                                      <th>Source&nbsp;Control&nbsp;ID</th>
                                      <th>Title</th>
                                      <th></th>
                                  </thead>
                                  <tbody id="modalBugTableBody"></tbody>
                              </table>
                          </div>
                          <div id="addExistingSingleBugFormContainer" class="addSingleBugModalContainer">
                              <div class="row">
                                  <div class="col-12" align="center">
                                      <select class="form-control" style="width:auto;" id="existingBugSelect"></select>
                                      <div id="testExistingBugDecisionBtnContainer" class="mt-3">
                                          <button type="button" class="btn btn-dark addSingleBugModalBtn" style="margin-right: 5px;"id="testAddExistingBugSubmitBtn">Submit</button>
                                          <button type="button" class="btn btn-outline-dark addSingleBugModalBtn" style="margin-left: 5px;" id="testAddExistingBugCancelBtn">Cancel</button>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <div id="addSingleBugFormContainer" class="addSingleBugModalContainer">
                              <label for="createSingleBugSourceControlIdInput"><b>Source Control ID:</b></label>
                              <input class="form-control" type="text" id="createSingleBugSourceControlIdInput" value=""><br>
                              <label for="createSingleBugTitleInput"><b>Title:</b></label>
                              <input class="form-control" type="text" id="createSingleBugTitleInput" value=""><br>
                              <label for="createSingleBugSourceControlInput"><b>Source Control:</b></label>
                              <select class="form-control" type="text" id="createSingleBugSourceControlInput">
                                  <option>TFS</option>
                                  <option>JIRA</option>
                              </select><br>
                              <label for="createSingleBugUrlInput"><b>URL:</b></label>
                              <input class="form-control" type="text" id="createSingleBugUrlInput" value="">
                              <div class="mt-3 text-center" id="testBugDecisionBtnContainer">
                                  <button type="button" class="btn btn-dark addSingleBugModalBtn" style="margin:0px 0px 10px 10px;" id="testAddBugSubmitBtn">Submit</button>
                                  <button type="button" class="btn btn-outline-secondary addSingleBugModalBtn" style="margin:0px 0px 10px 10px;" id="testAddBugCancelBtn">Cancel</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer justify-content-center">
                      <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- Create Bugs Modal -->
      <div class="modal fade" id="addBugToTestsModal" tabindex="-1" role="dialog" aria-labelledby="addBugToTestsModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header justify-content-center">
                      <h5 class="modal-title" id="addBugToTestsModalLabel">Add Bug to Tests</h5>
                  </div>
                  <div class="modal-body">
                      <p class="text-center">Please fill in the fields to add a bug to the selected tests.</p>
                      <label for="createBugsSourceControlIdInput"><b>Source Control ID:</b></label>
                      <input class="form-control" type="text" id="createBugsSourceControlIdInput" value=""><br>
                      <label for="createBugsTitleInput"><b>Title:</b></label>
                      <input class="form-control" type="text" id="createBugsTitleInput" value=""><br>
                      <label for="createBugSourceControlInput"><b>Source Control:</b></label>
                      <select class="form-control" type="text" id="createBugSourceControlInput">
                          <option>TFS</option>
                          <option>JIRA</option>
                      </select><br>
                      <label for="createBugsUrlInput"><b>URL:</b></label>
                      <input class="form-control" type="text" id="createBugsUrlInput" value="">
                  </div>
                  <div class="modal-footer justify-content-center">
                      <button id="confirmCreateBugMultipleTests" type="button" class="btn btn-dark submitMultipleBtn" data-dismiss="modal">Submit</button>
                      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- Add Exist bug to multiple tests confirm Modal -->
      <div class="modal fade" id="addExistingBugToTestsModal" tabindex="-1" role="dialog" aria-labelledby="addExistingBugToTestsModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header justify-content-center">
                      <h5 class="modal-title" id="addBugToTestsModalLabel">Add Existing Bug to Tests</h5>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                          <div class="col-12" align="center">
                              <p>Add bug to selected tests.</p>
                              <select class="form-control" style="width:auto;" id="existingBugSelectMultiple"></select>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer justify-content-center">
                      <button id="confirmAddExistingBugMultipleTests" type="button" class="btn btn-dark submitMultipleBtn" data-dismiss="modal">Submit</button>
                      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- Result Modal -->
      <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-header justify-content-center">
                      <h5 class="modal-title" id="resultModalLabel"></h5>
                  </div>
                  <div class="modal-body">
                      <div>
                          <b>Test Result: </b>
                          <span id="modalResult"></span>
                      </div>
                      <div>
                          <b>Machine: </b>
                          <span id="modalMachine"></span>
                      </div>
                      <div>
                          <b>Execution Time (seconds): </b>
                          <span id="modalTestExecutionTime"></span>
                      </div>
                      <div class="mt-2">
                          <div>
                              <b>Console Output:</b>
                          </div>
                          <p id="modalConsoleOutput" style="font-size:0.9em;"></p>
                      </div>
                      <div id="modalErrorFields">
                          <div class="mt-4">
                              <div>
                                  <b>Error:</b>
                              </div>
                              <p id="modalErrorOutput" style="font-size:0.9em;"></p>
                          </div>
                          <div>
                              <div>
                                  <b>Stack Trace:</b>
                              </div>
                              <p id="modalStackTrace" style="font-size:0.9em;"></p>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer justify-content-center">
                      <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script defer src="{% static 'resoluteqa/js/libraries/jquery-3.2.1.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/libraries/popper.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/libraries/bootstrap.min.js' %}"></script><!--4.0.0-beta.3-->
      <script defer src="{% static 'resoluteqa/js/libraries/datatables.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/libraries/Chart.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/dailyResults.js' %}"></script>
  </body>
</html>
