<!doctype html>
<html lang="en">
  <head>
      <title>Summary Results - Resolute QA</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% load static %}

      <link rel="stylesheet" href="{% static 'resoluteqa/css/bootstrap.min.css' %}" />
      <link rel="stylesheet" href="{% static 'resoluteqa/css/bootstrap-grid.min.css' %}">
      <link rel="stylesheet" href="{% static 'resoluteqa/css/datatables.min.css' %}">
      <link rel="stylesheet" href="{% static 'resoluteqa/css/styles.css' %}">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'resoluteqa:index' %}">Resolute QA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'resoluteqa:index' %}">Projects</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'resoluteqa:summary' projectenvironment.id %}">Summary<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Run Results
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dailyResultsDropdown">
                          {% for suite in suite_runs %}
                              <a class="dropdown-item" href="{% url 'resoluteqa:dailyresults' suite.id %}">{{ suite.suite.suite_name }}</a>
                          {% endfor %}
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'resoluteqa:bugs' projectenvironment.id %}">Bugs</a>
                  </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'resoluteqa:uploadresults' projectenvironment.id %}">Upload</a>
                  </li>
              </ul>
          </div>
      </nav>
      <div class="container-fluid text-right" style="margin-top:5px;">
          <span><b>Project:</b> {{ projectenvironment.project }}</span>
          <span style="margin-left:25px;margin-right:10px;"><b>Environment:</b> {{ projectenvironment.environment }}</span>
      </div>
      <div class="container">
          <div class="row justify-content-center mt-4 mb-5">
              <h1 class="text-center">Summary Results</h1>
          </div>
          <div class="row justify-content-md-center ">
              <div class="col-lg-6 text-center">
                  <h2 class="mt-4">Overall Result Summary</h2>
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Total&nbsp;Tests</th>
                              <th>Passed</th>
                              <th>Failed</th>
                              <th>Inconclusive</th>
                              <th>Ignored</th>
                              <th>Result&nbsp;%</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>{{ total_tests }}</td>
                              <td>{{ passed_tests }}</td>
                              <td>{{ failed_tests }}</td>
                              <td>{{ inconclusive_tests }}</td>
                              <td>{{ ignored_tests }}</td>
                              <td>{{ pass_percentage }}%</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="col-lg-4">
                  <canvas id="overallSummaryChart" width="200" height="200" data-passpercent="{{ pass_percentage }}" data-failpercent="{{ fail_percentage }}"></canvas>
              </div>
          </div>
      </div>
      <div class="container-fluid mt-5 text-center">
          <div class="row justify-content-center">
              <h3>Suite Result Summaries</h3>
          </div>
          <div class="row justify-content-center">
              <div class="col-lg-10">
                  <table id="suiteSummaryTable" class="table no-border hidden">
                      <thead>
                          <tr>
                              <th>Suite Name</th>
                              <th>Run Date</th>
                              <th>Total Tests</sth>
                              <th>Passed</th>
                              <th>Failed</th>
                              <th>Inconclusive</th>
                              <th>Ignored</th>
                              <th>Result %</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for run in suite_runs %}
                              <tr class="summaryRow" data-percentage="{{ run.result_precentage }}">
                                  <td>
                                      <a href="{% url 'resoluteqa:dailyresults' run.id %}" class="link">{{ run.suite.suite_name }}</a>
                                  </td>
                                  <td>{{ run.start_time|date:"m-d-Y" }}</td>
                                  <td>{{ run.total_tests }}</td>
                                  <td>{{ run.passed_tests }}</td>
                                  <td>{{ run.failed_tests }}</td>
                                  <td>{{ run.inconclusive_tests }}</td>
                                  <td>{{ run.ignored_tests }}</td>
                                  <td>{{ run.result_precentage }}%</td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script defer src="{% static 'resoluteqa/js/libraries/jquery-3.2.1.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/libraries/popper.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/libraries/bootstrap.min.js' %}"></script><!--4.0.0-beta.3-->
      <script defer src="{% static 'resoluteqa/js/libraries/datatables.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/libraries/Chart.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/summary.js' %}"></script>
  </body>
</html>
