<!doctype html>
<html lang="en">
  <head>
      <title>Resolute QA</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% load static %}

      <link rel="stylesheet" href="{% static 'resoluteqa/css/bootstrap.min.css' %}" />
      <link rel="stylesheet" href="{% static 'resoluteqa/css/bootstrap-grid.min.css' %}">
      <link rel="stylesheet" href="{% static 'resoluteqa/css/datatables.min.css' %}">
      <link rel="stylesheet" href="{% static 'resoluteqa/css/styles.css' %}">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'resoluteqa:index' %}">Resolute QA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'resoluteqa:index' %}">Projects</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'resoluteqa:uploadresults' %}">Upload Results<span class="sr-only">(current)</span></a>
                  </li>
              </ul>
          </div>
      </nav>
      <div class="container text-center mt-5">
          <h1>Upload Results</h1>
          <div class="mt-4">
              <form action="{% url 'resoluteqa:upload_mstest' 1 %}" enctype="multipart/form-data" method="post">
                  {% csrf_token %}
                  <input type="file" name="xmlfile">
                  <input type="submit" value="Upload">
              </form>
          </div>
      </div>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script defer src="{% static 'resoluteqa/js/libraries/jquery-3.2.1.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/libraries/popper.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/libraries/bootstrap.min.js' %}"></script><!--4.0.0-beta.3-->
      <script defer src="{% static 'resoluteqa/js/libraries/datatables.min.js' %}"></script>
      <script defer src="{% static 'resoluteqa/js/libraries/Chart.min.js' %}"></script>
      <!--<script defer src="{% static 'resoluteqa/js/upload.js' %}"></script>-->
  </body>
</html>
